// Enable color modes based on `prefers-color-scheme` media query
// Site will adapt automatically to system and/or app settings.
// - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
// - https://getbootstrap.com/docs/5.3/customize/color-modes/#building-with-sass
// We could use the data-theme attribute instead, but that would require JS.
$color-mode-type: media-query;

// Enable `light-dark` CSS function
// - https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
// - https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark
:root {
    color-scheme: light dark;
}

//
// Custom colors
//

$black: #000;
$white: #fff;
$lighthouse: #f5f4f3;
$satin-deep-black: #76838f;
$sooty: #141414;
$armor-wash: #040404;
$blue-bikni: #29beea;
$aqua: #2dfffe;
$neon-fuchsia: #fc3f6d;
$break-the-ice: #b4ebf1;

//
// Generic colors
//

$blue: $blue-bikni;
// $indigo:;
// $purple:;
// $pink:;
$red: $neon-fuchsia;
// $orange:;
// $yellow:;
// $green:;
$teal: $break-the-ice;
$cyan: $aqua;

//
// Grayscale colors
//
// Do we need 50 shades of gray? So much visual noise …

// Please leave all these comments here for reference.
// We'll delete them eventually.

// $white: #fff !default;
// -> $body-bg
// $black: #000 !default;

// $gray-100: $lighthouse;
// -> $light
// -> $light-bg-subtle (mixed with $white)
// -> $body-tertiary-bg
// -> $light-text-emphasis-dark

// $gray-200:;
// -> $light-border-subtle
// -> $body-secondary-bg

// $gray-300:;
// -> $border-color
// -> $dropdown-dark-color
// -> $dark-text-emphasis-dark
// -> $body-color-dark

// $gray-400: #ced4da !default;
// -> $dark-bg-subtle

// $gray-500: #adb5bd !default;
// -> $dark-border-subtle
// -> $dropdown-dark-link-disabled-color
// -> $dropdown-dark-header-color

// $gray-600: $c-onyx;
// -> $gray
// -> $secondary
// -> $blockquote-footer-color
// -> $btn-link-disabled-color
// -> $form-floating-label-disabled-color
// -> $dropdown-header-color

// $gray-700: $c-onyx;
// -> $light-text-emphasis
// -> $dark-text-emphasis
// -> $light-border-subtle-dark
// -> $border-color-dark

// $gray-800: #343a40 !default;
// -> $gray-dark
// -> $form-select-indicator-color
// -> $dropdown-dark-bg
// -> $light-bg-subtle-dark
// -> $dark-bg-subtle-dark (WTF?) (mixed with $black)
// -> $dark-border-subtle-dark
// -> $body-secondary-bg-dark
// -> $body-tertiary-bg-dark (mixed with $gray-900)

$gray-900: $sooty;
// -> $dark
// -> $body-color
// -> $body-bg-dark

//
// Theme Colors
//

$light: $lighthouse;
$dark: $sooty;
$primary: $blue;
// $secondary: $armor-wash;

//
// Light Mode
//

// Light mode is the default in Bootstrap and many props also affect dark mode.

$body-bg: $light;

$link-color: $primary;
// $link-hover-color: shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: underline;

//
// Dark Mode
//

$body-secondary-color-dark: $teal;
$body-secondary-bg-dark: $armor-wash;
$body-tertiary-color-dark: $satin-deep-black;
$link-color-dark: $primary;
$link-hover-color-dark: $primary;
$border-color-dark: $body-tertiary-color-dark;

// Also see CSS custom properties for the media query in `app.scss`.
