// Enable color modes based on `prefers-color-scheme` media query
// Site will adapt automatically to system and/or app settings.
// - https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
// - https://getbootstrap.com/docs/5.3/customize/color-modes/#building-with-sass
// We could use the data-theme attribute instead, but that would require JS.
$color-mode-type: media-query;

// Enable `light-dark` CSS function
// - https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme
// - https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark
:root {
    color-scheme: light dark;
}

//
// Custom colors
//

$black: #000;
$white: #fff;
$lighthouse: #f5f4f3;
$satin-deep-black: #76838f;
$sooty: #141414;
$armor-wash: #040404;
$blue-bikni: #29beea;
$aqua: #2dfffe;
$neon-fuchsia: #fc3f6d;
$break-the-ice: #b4ebf1;
$bright-star: #dee2e6;

//
// Generic colors
//

// Note: BS uses more generic colors and we did not define all, yet

$blue: $blue-bikni;
$red: $neon-fuchsia;
$teal: $break-the-ice;
$cyan: $aqua;

//
// Grayscale colors
//

// Note: BS grayscale colors from 100-900 affect the color system in various ways.
// Override with cuation.

// Used for secondary bg color in light color mode
$gray-300: $bright-star;

// 900 Affects `$dark`, `$body-color` and `$body-bg-dark`
$gray-900: $sooty;

//
// Theme Colors
//

$light: $lighthouse;
$dark: $sooty;
$primary: $blue;

//
// Light Mode
//

// Light mode is the default in Bootstrap and many props also affect dark mode.

$body-bg: $light;
$body-secondary-bg: $gray-300;

$link-color: $primary;
$link-hover-decoration: underline;

//
// Dark Mode
//

// Note: Also see CSS custom properties for the media query in `app.scss`.

$body-color-dark: $light;
$body-secondary-color-dark: $teal;
$body-secondary-bg-dark: $armor-wash;
$body-tertiary-color-dark: $satin-deep-black;
$link-color-dark: $body-secondary-color-dark;
$link-hover-color-dark: $primary;
$border-color-dark: $body-tertiary-color-dark;
