// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Custom Components

// Navigation bar logo
.navbar-logo {
    inline-size: 2.222em;
    margin-right: 0.5rem;

    .logo-bg {
        fill: currentColor;
    }

    .logo-icon {
        fill: var(--bs-primary);
    }
}
