// Colors
@import 'colors';

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//
// Custom Components
//

// Defaults for SVG-Sprite Elements
symbol {
    fill: currentColor;
}

// Defaults for Bootstrap Icons
// - https://icons.getbootstrap.com
.bi {
    display: inline-block;
    vertical-align: -0.125em;
    width: 1em;
    height: 1em;
}

.bi-fluid {
    display: block;
    width: auto;
    height: auto;
    aspect-ratio: 1 / 1;
}

//
// App Logo
//

// Usage: <svg class="app-logo"><use xlink:href="#ladis-logo"></use></svg>

:root {
    // Default size for the logo
    --app-logo-size: 4em;
    // Logo size in the header naviation
    --app-logo-size-nav: 2.2222em;
    // Default color for the logo inherited from the parent element
    --app-logo-color: currentColor;
    // Individual colors that fall back to the common color
    --app-logo-primary-color: var(--app-logo-color);
    --app-logo-accent-color: var(--app-logo-color);
}

// Base styles for the app logo
.app-logo {
    inline-size: var(--app-logo-size);
    aspect-ratio: 1 / 1;
    color: var(--app-logo-color);
    transition: color 0.3s ease;
}

// Styles for the logo ring
.app-logo-primary {
    color: var(--app-logo-primary-color);
}

// Styles for the logo spark
.app-logo-accent {
    color: var(--app-logo-accent-color);
}

//
// Navigation Bar
//

// Nabvar Light Mode Colors
.navbar,
.navbar-nav,
.nav-link {
    --bs-navbar-color: var(--bs-body-color);
    --bs-navbar-hover-color: #{$link-color};
    --bs-navbar-link-color: var(--bs-body-color);
    --bs-navbar-link-hover-color: #{$link-color};
    --bs-navbar-brand-color: var(--bs-body-color);
    --bs-navbar-brand-hover-color: #{$link-color};
}

// Mobile Menu Button
.navbar-toggler {
    border: none;
    background-color: transparent;
}

// Navbar App Logo
.navbar .app-logo {
    // Adjust logo size in navbar
    --app-logo-size: var(--app-logo-size-nav);
    // Make the primary logo color stick to the navbar base color.
    // Accent color still inherits from the parent element and adjusts
    // to the hover color.
    --app-logo-primary-color: var(--bs-navbar-color);
}

//
// Generic container-like components
//

// Viewport Section
.vh-section {
    // Calculate the height
    // To do: Do this in `:root`
    min-height: calc(100vh - ($navbar-padding-y * 2) - ($navbar-brand-font-size / $font-size-base * var(--app-logo-size-nav)) - ($navbar-brand-padding-y * 2));
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Content container
// Restricts the width of the content to readable width
.content {
    max-width: 60ch;
}

//
// Hero section – Flashy page intro component
//

.hero {
    // Use a responsive font size relative to the viewport
    font-size: clamp(1.25rem, 4vw, 2rem);
    margin-block: 3em;
}

.hero-title {
    font-size: 3em;
    line-height: 1;
    padding-block-end: .5em;
    margin-block-end: .5em;
    border-bottom: 1px solid;
}

.hero .brand-name {
    font-style: italic;
    font-weight: 600;
}

//
// Dark Mode
//

// Variables for Dark color mode are far from complete in BS.
// So we have to use this thing:
// @include color-mode(dark, true) {
// styles for `:root` here …
// }

// Because Bootstrap defines many variables on sepcific selctors,
// we can't just assign all of them to `:root` :(
@include color-mode(dark) {
    .text-secondary {
        // Override the default color for secondary text
        // The fact that we have to use `!important` tells a lot about the state of BS.
        color: #{$teal} !important;
    }

    .navbar,
    .navbar-nav,
    .nav-link {
        --bs-navbar-color: #{$light};
        --bs-navbar-link-color: #{$light};
        --bs-navbar-hover-color: #{$link-color-dark};
        --bs-nav-link-hover-color: #{$link-color-dark};
        --bs-navbar-disabled-color: #{$body-tertiary-color-dark};
        --bs-nav-link-disabled-color: #{$body-tertiary-color-dark};
    }

    // Want to do this but it has too many side effects:
    // .btn,
    // .btn-primary {
    //     --bs-btn-color: #{$…};
    // }
}

@import "filters";
